{% extends '_template/_main.html' %}

{% paginate craft.entries.section('blog').limit(5) as pageInfo, pageEntries %}

{% block body %}
    {% for post in pageEntries %}
        {% include 'post/_template.html' with {post: post, preview: true} %}
    {% endfor %}

    <section class="pagination">
        {% if pageInfo.prevUrl %}
            <a href="{{ pageInfo.prevUrl }}" class="waves-effect waves-light btn">Previous Page</a>
        {% endif %}
        {% if pageInfo.nextUrl %}
            <a href="{{ pageInfo.nextUrl }}" class="waves-effect waves-light btn">Next Page</a>
        {% endif %}
    </section>
{% endblock %}
