<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, viewport-fit=cover" />
    <link rel="stylesheet" href="{{ alias('@web/assets/css/prism.css') }}">
</head>
<body class="ltr">
    {% block body %}
    {% endblock %}
    <script src="{{ alias('@web/assets/js/prism.js') }}"></script>
</body>
</html>
