{% import 'post/_render-blocks' as helper %}

<section class="post">
    <div class="card">
        {% if post.headerImage %}
            <div class="card-image">
                <img src="{{ post.headerImage[0].Url }}" alt="Post header" aria-hidden="true">
            </div>
        {% endif %}
        <div class="card-title {% if not post.headerImage %}no-image{% endif %}">
            {% if preview %}
                <a href="{{ post.Url }}"><h1>{{ post.title }}</h1></a>
            {% else %}
                <h1>{{ post.title }}</h1>
            {% endif %}
        </div>
        <div class="card-inner">
            {% if preview and post.postIntro is defined and post.postIntro | length > 0 %}
                <section class="text-block">
                    {{ post.postIntro }}
                </section>
            {% else %}
                {{ helper.renderBlocks(post, preview) }}
            {% endif %}
            {% if preview %}
                <div class="read-more">
                    <a href="{{ post.Url }}" class="waves-effect waves-light btn">Read more</a>
                </div>
            {% endif %}
            {% if post.tags and (post.tags | length) > 0 %}
                <section class="tags-block">
                    <hr>
                    <div class="tags">
                        {% for tag in post.tags.all() %}
                            <span class="badge-wrapper">
                                <a href="{{ tag.Url }}"><span class="badge">{{ tag.title }}</span></a>
                            </span>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="card-footer">
            <span class="published">
                <i class="tiny material-icons" aria-hidden="true">schedule</i>
                <time class="move-down" datetime="2016-09-11T17:50:03+02:00" itemprop="datePublished">{{ post.postDate | date('d.m.Y') }}</time>
            </span>
            <span class="createdby" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <i class="tiny material-icons" aria-hidden="true">perm_identity</i>
                <span class="move-down">Written by <span itemprop="name">{{ post.author.firstName }} {{ post.author.lastName }}</span></span>
            </span>
        </div>
    </div>
</section>
