section.search {
  padding: 15px;
  padding-top: 17px;

  .search-wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(grey, .08);
    margin-top: 20px;
  }

  button {
    border: none;
    -webkit-appearance: none;
    background: transparent;
    padding: 0;
    margin: 0;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  label {
    color: black;
    font-size: 24px;
    font-weight: 300;
  }

  input[type="text"] {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}
